@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6a6c6f;
    height: 100%;
    overflow: hidden;
}

.modal-content, .btn, a {
    border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input, textarea, span, button {
    border-radius: 0 !important;
    font-size: 12px !important;
} 

table {
    margin-top: 10px;
}

.navbar {
    border-radius: 0;   
    border: none;
    border-bottom: 1px solid #e4e5e7;
    margin-bottom: 0;
    height: 60px;
}

.navbar-default {
    background-color: #f7f9fa;
}

.navbar-brand {
    width: 180px;
    text-align: center;
    border-right: 1px solid #e4e5e7;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
}

.navbar-right {
    padding-right: 30px;
}

.navbar-right li a {
    height: 60px;
    line-height: 30px;
}

.navbar-toggle {
    margin-top: 13px;
}

.menu {
    position: fixed;
    width: 180px;
    height: 100%;
    border-right: 1px solid #e4e5e7;
    background: #f7f9fa;
    transition: all 0.4s ease;
    overflow: hidden;
}

.sidebar {
    width: 197px;
    height: 100%;
    overflow: auto;
}

.sidebar .user-info {
    height: 220px;
    border-bottom: 1px solid #e4e5e7;   
    text-align: center;
    padding: 20px;
    background: #ffffff;
    line-height: 30px;
}

.sidebar .avatar, .sidebar .username {
    margin: 15px;   
    font-weight: bold;
}

.sidebar .income-this-month {
    font-size: 24px;  
    font-weight: 600; 
}

.navigation-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 200px;
    background: #f7f9fa;
}

.navigation-bar li {
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #e4e5e7;
    cursor: pointer;
    display: block;
}

.navigation-bar li a {
    color: #34495e;
    text-decoration: none;
    padding: 15px;
}

.navigation-bar li a:hover {
    text-decoration: none;
}

.navigation-bar .fa {
    float: right;
    padding-top: 19px;
    padding-right: 31px;
}

.navigation-bar .nav-label {
    width: 200px;
}

.second-navbar {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.second-navbar li {
    text-transform: none;
    font-weight: normal;
    font-weight: 600;
    font-size: 12px;
    border: 0;
    border-top: 1px solid #e4e5e7;
    background: #ffffff;
}

.second-navbar li a {
    color: #34495e;
    text-decoration: none;
    padding: 30px;
}

.minimize-sidebar {
    float: left;
    height: 59px;
    width: 60px;
    padding: 20px;
    border-right: 1px solid #e4e5e7;
    text-align: center;
}

.minimize-sidebar:hover {
    cursor: pointer;
    background: #f1f4f6;
}

.background {
    background: white;
    padding: 10px;
    border: 1px solid #e4e5e7;
}

.background h3 {
    margin-bottom: 20px;
}

.content {
    min-height: 1000px;
    padding-left: 200px !important;
    padding-right: 20px !important;
    height: 100%;
    width: 100%;
    background: #f1f3f6;
    padding: 20px;
    transition: all 0.4s ease;
}







