@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px !important;
    color: #6a6c6f;
    margin: 0;
    padding: 0;
}

input, textarea, select, button {
    font-size: 12px !important;
}

.selectize-input > * , .selectize-dropdown  > * {
    font-size: 11px !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.clear10 {
    margin-top: 10px;
    clear: both;
}

/*/*Page header*/
.header {
    background: #ff6a00;
    height: 50px;
    line-height: 45px;
}

    /*Logo*/
    .header .logo {
        margin-left: 100px;
    }

        .header .logo .logo-text {
            margin-left: 5px;
            font-size: 15px;
            color: #ffffff;
            text-transform: uppercase;
            vertical-align: middle;
        }

    /*Navigation*/
    .header .navigation {
        float: right;
    }

        .header .navigation .nav-bar {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 50px;
            float: right;
            margin-right: 100px;
        }

            .header .navigation .nav-bar li {
                float: left;
                line-height: 20px;
                width: 70px;
                position: relative;
                margin-top: 15px;
                text-align: center;
                text-transform: uppercase;
            }

                .header .navigation .nav-bar li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 12px;
                    text-align: center;
                }

                .header > .navigation > .nav-bar > li > a:hover {
                    border-bottom: 1px solid #ffffff;
                }

        /*Sub-header*/
        .header .navigation .nav-bar .nav-bar {
            list-style: none;
            margin: 0;
            padding: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 15px;
            padding-top: 20px;
        }

        .header .navigation .nav-bar li:hover .nav-bar {
            visibility: visible;
        }

            .header .navigation .nav-bar .nav-bar li {
                float: left;
                line-height: 30px;
                width: 180px;
                text-align: left;
                background: #808080;
                padding-left: 20px;
                border-bottom: 1px solid #ffffff;
                z-index: 10;
                margin-top: 0;
            }

                .header .navigation .nav-bar .nav-bar li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 12px;
                }

                .header .navigation .nav-bar .nav-bar li:hover {
                    background: rgb(182, 176, 176);
                }

.background {
    padding-left: 20px;
    padding-right: 20px;
}

table th, table td {
    border-top: none !important;
}

#create-new-liability-modal {
    z-index: 2000;
}

.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}

    .login-page form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 400px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .login-page .checkbox {
        text-align: left;
    }
/*Display info on financial status page*/
.info {
}

.register-page {
    width: 500px;
    padding: 4% 0 0;
    margin: auto;
}

    .register-page form {
        height: 500px;
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 500px;
        margin: 0;
        padding: 15px 30px 0px 30px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

footer {
    position: fixed !important;
    bottom: 0;
    right: 90px;
    height: 50px;
}*/