@model CashFlowManagement.Models.AvailableMoneyViewModel

<div class="row salary-table-div">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Tiền mặt có sẵn</th>
                <th class="text-right">Giá trị tiền mặt</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => Model.Name)<br />
                        @if (!Model.IsInitialized)
                        {
                            <a href="#" title="Cập nhật tiền mặt có sẵn" class="update-available-money modal-toggle"><span class="glyphicon glyphicon-edit text-success" style="font-size: 14px;"></span></a>
                        }
                    </td>
                    <td class="text-right">@Html.DisplayFor(x => Model.AvailableMoney)</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center">Chưa khai báo tiền mặt có sẵn</td>
                </tr>
            }
        </tbody>
    </table>
</div>

